.userdetails-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userdetails-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userdetails-stack {
    justify-content: center;
}

.userdetails-map {
    justify-content: center;
    align-items: center;
    align-self: center;
}
